<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/global.css">
  <title>Diamonds</title>
</head>
<body>
  <header class="header">
    <div class="header__login">
      <img src="./assets/svg/lock.svg" alt="login logo" />
      <p>Login</p>
    </div>

    <nav class="header__navbar">
      <ul>
        <li>
          <p>HOME</p>
          <img class="header__navbar-diamond" src="./assets/svg/diamond.svg" alt="diamond icon">
        </li>

        <li>
          <p>ABOUT</p>
          <img class="header__navbar-diamond" src="./assets/svg/diamond.svg" alt="diamond icon">
        </li>

        <li>
          <img class="header__navbar-logo" src="./assets/svg/logo.svg" alt="diamond logo">
        </li>

        <li>
          <p>JEWELS</p>
          <img class="header__navbar-diamond" src="./assets/svg/diamond.svg" alt="diamond icon">
        </li>

        <li>
          <p>CONTACT</p>
          <img class="header__navbar-diamond" src="./assets/svg/diamond.svg" alt="diamond icon">
        </li>
      </ul>
    </nav>

    <div class="header__search">
      <div class="header__search-lang">
        <p>EN</p>
        <img src="./assets/svg/expand-button.svg" alt="expand icon">
      </div>
      <img class="header__search-icon" src="./assets/svg/magnifying-glass.svg" alt="search icon">
    </div>
  </header>

  <main>
    <section class="slider">
      <img class="slider__img" src="./assets/img/jewelry-carousel.jpg" alt="slider image">
      <!-- <img class="slider__img" src="./assets/img/jewelry-carousel2.png" alt="slider image">
      <img class="slider__img" src="./assets/img/jewelry-carousel.jpg" alt="slider image"> -->

      <div class="slider-position">
        <div class="slider__text">
          <h2 class="slider__text-title">Diamonds</h2>

          <div class="slider__text-hl"></div>

          <p class="slider__text-content">
            Diamonds are the brightest stars and only the sky is the limit when it comes to achieving our jewels.
          </p>
        </div>
      </div>

      <button class="slider__btn slider__btn--right"><img src="./assets/svg/arrow.svg" alt="arrow right button"></button>
      <button class="slider__btn slider__btn--left"><img src="./assets/svg/arrow.svg" alt="arrow left button"></button>
    </section>

    <section class="collection">
        <div class="collection__header">
        <div class="collection__header-title">
          <span></span>
          <h2>Our Collection</h2>
        </div>

        <p class="collection__header-description">
          Specially crafted with the utmost of precision and care, our dreamy jewels are meant to make your wishes come true.
        </p>
      </div>

        <div class="collection__cards">
        <div class="collection__cards-item">
          <img src="./assets/img/shutterstock_1530727334.jpg" alt="product image" class="collection__cards-item-img">
          <div class="collection__cards-item-content">
            <h3>Diamond <sub>I</sub></h3>
            <span></span>
            <p>The shining diamonds of the bracelet sprinkle the space.</p>
          </div>
          <img src="./assets/svg/diamond.svg" alt="diamond icon" class="collection__cards-item-diamond">
        </div>

        <div class="collection__cards-item">
          <img src="./assets/img/shutterstock_1530727334.jpg" alt="product image" class="collection__cards-item-img">
          <div class="collection__cards-item-content">
            <h3>Diamond <sub>2</sub></h3>
            <span></span>
            <p>The intrinsic beauty lies in these sleek and clean earings where polished diamonds embrace the wearer and mark the shape of the face.</p>
          </div>
          <img src="./assets/svg/diamond.svg" alt="diamond icon" class="collection__cards-item-diamond">
        </div>

        <div class="collection__cards-item">
          <img src="./assets/img/shutterstock_1530727334.jpg" alt="product image" class="collection__cards-item-img">
          <div class="collection__cards-item-content">
            <h3>Diamond <sub>3</sub></h3>
            <span></span>
            <p>The sparkles of the diamonds on this powerful ring symbolize the strength of beauty.</p>
          </div>
          <img src="./assets/svg/diamond.svg" alt="diamond icon" class="collection__cards-item-diamond">
        </div>
      </div>

      <button class="collection__button">View All</button>
    </section>

    <section class="contact">
      <div class="contact__title">
        <h1>Contact Us</h1>
        <h2>Diamonds</h2>
      </div>

      <div class="contact__description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, velit nihil quia voluptatem odit totam reiciendis consectetur.
      </div>

      <button class="contact__button">Contact</button>

        <div class="scrollup" id="scrollUpBtn">
        <img src="./assets/svg/arrow-in-circle-point-to-up.svg" alt="go to top icon" class="scrollup__icon">
      </div>
    </section>
  </main>

  <footer class="footer">
    <section class="footer__navbar">
      <div class="footer__navbar-options">
        <a href="#">
          Services
        </a>
        <span></span>
        <a href="#">
          Privacy and Cookie Policy
        </a>
      </div>

      <div class="footer__navbar-logo">
        <img src="./assets/svg/logo-white.svg" alt="diamo logo">
      </div>

      <div class="footer__navbar-social">
        <img src="./assets/svg/social-facebook-circular-button.svg" alt="facebook button" class="facebook">
        <img src="./assets/svg/social-twitter-circular-button.svg" alt="twitter button" class="twitter">
      </div>
    </section>

    <section class="footer__copy">
      <p>
        Copyright &copy; 2021 DIAMONDS. All rights reserved.
      </p>
    </section>
  </footer>

  <script src="./js/index.js"></script>
</body>
</html>
