.header--scroll
  position fixed
  top 0
  width 80%
  background-color white
  z-index 1
  opacity 0.9
  transition 0.4s

  &:hover
    opacity 1

.header
  display grid
  grid-template-columns 20% auto 20%
  align-items center
  padding 20px 10%
  font-family $poppins
  font-weight 500
  font-size $text-menu
  letter-spacing 2px
  transition 0.4s

  &__login
    display flex
    align-items center
    gap 10px
    cursor pointer

    img
      width 18px

    a
      transition 0.3s

    &:hover
      text-shadow $text-shadow

  &__navbar
    display grid
    align-items center
    grid-template-columns 1fr 1fr 30% 1fr 1fr

    .option
      display flex
      justify-content center

      label
        cursor pointer
        text-transform uppercase
        &:hover
          text-shadow $text-shadow

      [type='radio']
        visibility hidden
        &:checked + label
          font-weight 700
          transition 0.3s
        &:checked + label .header__navbar-diamond img
          visibility visible

    div
      display: flex
      justify-content: center

    &-logo
      width 80px

    &-diamond
      width: 100%
      display: flex
      justify-content: center
      img
        position absolute
        top 65px
        width 10px
        visibility hidden

  &__search
    display flex
    align-items center
    justify-content flex-end

    &-lang
      display inherit
      gap 10px
      cursor pointer

      img
        width 17px

    &-icon
      margin-left 20px
      width 25px
      cursor pointer

  .header-active
    font-weight 700
    transition 0.3s

    .header__navbar-diamond
      visibility visible
      position absolute
      top 65px
      width 10px




/* Desktop */
@media only screen and (max-width 1366px)
  /* .header  padding 20px 5%  */

@media only screen and (max-width 1280px)
  // .header__navbar
  //   ul
  //     gap 50px
  .header__navbar-logo
    margin 0 20px


/* Tablet */
@media only screen and (max-width 768px)
  .header
    padding 20px 10px
  // .header__navbar
  //   ul
  //     gap 30px
  .header__navbar-logo
    margin 0 10px
